* {
    font-family: "JetBrains Mono";
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
    color: black;
    transition-property: background-color;
    transition-duration: 0.1s;
    border-radius: 30px;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3f3f3f;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#window {
    margin: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: white;
}

#workspaces button {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: solid #9f5364 1px;
    color: rgba(159, 83, 100, 1);
}

#workspaces button.focused {
    color: rgba(159, 83, 100, 1);
    background-color: white;
}

#workspaces button.active {
    color: white;
    background-color: rgba(18, 18, 18, 0.7);
}

#workspaces button.urgent {
    background-color: #ffffff;
}

#clock {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 7px 5px 7px;
    border-radius: 10px;
    color: rgba(159, 83, 100, 1);
    background-color: rgba(18, 18, 18, 0.7);
    border: solid #9f5364 1px;
}

#cpu {
    color: rgba(159, 83, 100, 1);
    background-color: rgba(18, 18, 18, 0.7);
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 4px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid #9f5364 1px;
}

#pulseaudio,
#battery,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
    color: rgba(159, 83, 100, 1);
    background-color: rgba(18, 18, 18, 0.7);
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid #9f5364 1px;
}
