* {
    font-family: "JetBrains Mono";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    background-color: #11111b; /* crust */
    color: #6c7086;            /* overlay0 */
    transition-property: background-color;
    transition-duration: 0.1s;
    border-bottom: 1px solid #7f849c; /* overlay1 */
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#window {
    margin: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: #cba6f7;              /* mauve */
    border-top: 2px solid #cba6f7;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    color: #f5e0dc;              /* rosewater */
    border-top: 2px solid #f5e0dc;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: #cba6f7;              /* mauve */
    border-top: 2px solid #cba6f7;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#clock {
    color: #eba0ac;              /* maroon */
    border-bottom: 2px solid #eba0ac;
}

#clock.date {
    color: #cba6f7;              /* mauve */
    border-bottom: 2px solid #cba6f7;
}

#pulseaudio {
    color: #89b4fa;              /* blue */
    border-bottom: 2px solid #89b4fa;
}

#network {
    color: #f9e2af;              /* yellow */
    border-bottom: 2px solid #f9e2af;
}

#idle_inhibitor {
    margin-right: 12px;
    color: #7cb342;
}

#idle_inhibitor.activated {
    color: #f38ba8;              /* red */
}

#battery {
    color: #a6e3a1;              /* green */
    border-bottom: 2px solid #a6e3a1;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#custom-vpn {
    color: #b4befe;              /* lavender */
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
}
#tray {
  background-color: transparent;
  border-bottom: 2px solid #00ADFF;
}
