* {
    font-family: "JetBrains Mono";
    font-size: 20px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    background-color: #000000;
    opacity: 0.7;
    color: #dedede; /* overlay0 */
    transition-property: background-color;
    transition-duration: 0.1s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3f3f3f;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#window {
    margin: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: #cba6f7; /* mauve */
    border-top: 2px solid #cba6f7;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    color: #f5e0dc; /* rosewater */
    border-top: 2px solid #f5e0dc;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff; /* mauve */
    border-bottom: 2px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #ffffff;
}

#clock {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 20px;
}

#pulseaudio,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
